#gallery-container {
    position: relative;
    width: 500px;
    height: auto;
    padding-top: 350px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px #aaaaaa solid;
}

img.gallery-fullsize {
    position: absolute;
    top: 15px;
    left: 50px;
    display: none;
}

div.gallery-item {
    display: inline-block;
}

img.gallery-preview:hover ~ img.gallery-fullsize {
    display: block;
}
