/*
Este ejemplo lo saq de CSS-Tricks (Trucos CSS) - Posicionamiento Absoluto absolute; Dentro del Posicionamiento Relativo relative;
https://css-tricks.com/absolute-positioning-inside-relative-positioning/

https://codepen.io/chriscoyier/pen/bGEZONq */



/* eliminar estilos por defecto del navegador usando el selector universal */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.centrar_flexbox {
    display: flex; /* centrar usando flexbox... */
    align-items: center; /* verticalmente */
    justify-content: center; /* horizontalmente */
}

html, body {
    /* hacer q el <html> y el <body>
    ocupen TODO el ancho y alto disponible de la pagina web */
    width: 100%; /* ancho */
    height: 100vh; /* alto */
    background-color:dimgrey; /* color de fondo */

}

/*
el valor por defecto es position: static;
NO importa si copio esto o no el resultado sera el mismo

esto hace q los hijos de .contenedor_padre se muevan con respecto al viewport <html>  */

/*
.contenedor_padre {
    width: 90vw;
    height: 90vh;
    border: thick solid black;
    background-color: #eeede7;
    font-size: 2rem;

    position: static;
}
*/

.contenedor_padre {
    width: 90vw;
    height: 90vh;
    border: thick solid black;
    background-color: #eeede7;
    font-size: 2rem;
    /* los elementos hijos se siguen moviendo CON RESPECTO
    al .contenedor_padre cuando el valor de position:
    es DIFERENTE de static;

    podria usar cualquier de los siguientes valores y el resultado
    es el MISMO*/
    position: relative;
/*     position: absolute;
    position: fixed;
    position: sticky; */
}

.box_model { /* dar medidas a las cajas para q se puedan ver */
    width: 600px;
    height: 100px;
    border: thick solid blue;
    background-color: darkorange;
    font-size: 2rem;
    position: absolute;
}

/* Desplazar Elementos Hacia… Arriba top: ; Derecha right: ; Abajo bottom: e Izquierda left: */
.caja_1 { top: 0; left: 0; }
.caja_2 { top: 30%; right: -25px; }
.caja_3 { bottom: 5px; left: 10px; }
