/*
Este ejemplo lo saq de este video de YouTube de Jon Mircha
https://www.youtube.com/watch?v=K3xmRF8ab1o&t=29841s

eliminar estilos por defecto del navegador usando el selector universall */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeede7; /* color de fondo */
}

/* ----------------------------------------------------------------------------- */

.caja_fija {
    width: 300px;
    height: 100px;
    background-color: lightgreen;
    font-size: 2rem;

    position: fixed;

    /* ---------------------- */
/*
    right: 20px;
    bottom: 10px;
*/
    /* ---------------------- */

    top: 30px;
    left: 400px;
}
