/* -------------------- Reset CSS -------------------- */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font: inherit;
    box-sizing: border-box !important;
}

body {
    width: 100% !important;
    min-height: 100vh !important;
    overflow-x: hidden;
    text-rendering: optimizeLegibility !important; /* hacer q el texto sea mas legible */
}

html {
    font-size: 16px;
    scroll-behavior: smooth !important; /* animacion al hacer scroll en pagina web */
}

html,
body {
    background-color: steelblue;

    color: #fff;
    line-height: 1.2;
    font-family: monospace, monospace;
    font-weight: normal;
}

/* -------------------- Eliminar color de fondo azul cuando se hace click en los enlaces <a> -------------------- */

/* https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic */
a { -webkit-tap-highlight-color: transparent; }

/* -------------------- Variables (custom properties) -------------------- */

:root {
	/* -------------------- Utopia Fluid Responsive Design -------------------- */
    /* @link https://utopia.fyi/type/calculator?c=320,17,1.2,1500,20,1.333,8,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
    --step--1: clamp(0.89rem, calc(0.87rem + 0.07vw), 0.94rem);
    --step-0: clamp(1.06rem, calc(1.01rem + 0.25vw), 1.25rem);
    --step-1: clamp(1.28rem, calc(1.17rem + 0.53vw), 1.67rem);
    --step-2: clamp(1.53rem, calc(1.34rem + 0.94vw), 2.22rem);
    --step-3: clamp(1.84rem, calc(1.53rem + 1.52vw), 2.96rem);
    --step-4: clamp(2.20rem, calc(1.73rem + 2.36vw), 3.95rem);
    --step-5: clamp(2.64rem, calc(1.93rem + 3.55vw), 5.26rem);
    --step-6: clamp(3.17rem, calc(2.13rem + 5.21vw), 7.01rem);
    --step-7: clamp(3.81rem, calc(2.30rem + 7.51vw), 9.35rem);
    --step-8: clamp(4.57rem, calc(2.43rem + 10.70vw), 12.46rem);
}

/* -------------------- Contenido multimedia (embebido) Responsive -------------------- */
/* https://www.youtube.com/watch?v=udGrXWeJp1Y&t=4090s */

img {
    display: block;

    max-width: 100%;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    object-fit: cover;
}

/* -------------------- Centrar contenido principal de la pagina web (Responsive) -------------------- */

.page_wrap {
    max-width: min(90vw, 83.25rem);

    margin-left: auto;
    margin-right: auto;
}

/* -------------------- ... -------------------- */

/* -------------------- pie de pagina <footer> -------------------- */

footer {
    padding: 1.5%;
    max-width: 105rem;

    margin-left: auto;
    margin-right: auto;
}
