/* eliminar estilos por defecto del navegador usando el selector universal */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------------------------------------------------------------------------- */

p {
    font-size: 52px; /* Tamaño de la letra */
    font-family: Garamond; /* Fuente (Tipografía) del Texto (Familia Tipográfica) */
}

.font-style_normal {
    font-style: normal; /*  No importa si copio o no normal;
                            el resultado va ser el mismo
                            porq es el valor por defecto */
}

.font-style_italic {
    font-style: italic; /* Texto con cursiva (inclinado) */
}

.font-style_oblique {
    font-style: oblique; /* El texto esta MAS INCLINADO q en italic; */
}

.angulo_de_inclinacion {
    font-style: oblique 40deg; /* Definir el angulo de inclinacion de la letra cursiva,
                                  puedo usar las unidades de medida del angulo
                                  q son deg, grad, rad o turn */
}
