/* eliminar estilos por defecto del navegador usando el selector universal*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%; /* Hacer q el cuerpo <body> ocupe toda la ventana grafica (viewport) */
    background: #eeede7;

    display: flex; /* Usar flexbox */
    /* Centrar caja ...       */
    justify-content: center; /* Horizontalmente   */
    align-items: center; /* Verticalmente     */
}

/* ----------------------------------------------------------------------------- */

.contenedor {
    width: 200px; /* ancho */
    height: 200px; /* alto */
    padding: 10px; /* Relleno */

    background: steelblue;
    border: 2px solid black;
}

/* --------------------- */

/* No importa si copio o no normal;
el resultado sera el mismo
porq es el valor por defecto */

/*
.line-height_normal {
    line-height: normal;
}
*/

/* --------------------- */
/* Este numero NO tiene unidades de medida NI porcentajes */

/*
.numero_sin_unidad {
    line-height: 2;
}
*/

/* --------------------- */
/* Aqui puede ir cualquier otra unidad de mediad de CSS 3 */

/*
.unidad_de_medida {
    line-height: 10px;
}
*/

/* --------------------- */

.porcentaje {
    line-height: 80%;
}
