/*
Este codigo esta basado en el Reset CSS de:
- Meyer Web:    https://meyerweb.com/eric/tools/css/reset/
- Jon Mircha:   https://jonmircha.com/assets/style.css
*/

/* -------------------- Reset CSS -------------------- */

*,         /* El asterisco * significa seleccionar todos los elemento (etiquetas) HTML */
*::before, /* Insertar Contenido content: antes ::before */
*::after { /* y despues ::after del elemento (etiqueta) HTML */
    padding: 0; /* eliminar relleno: Espacio q hay ALREDEDOR del elemento, esta DENTRO del mismo */
    margin: 0;  /* eliminar margen: Espacio q hay ENTRE los elementos, esta AFUERA */

    border: 0;  /* eliminar linea q bordea (rodea) los elementos (etiquetas) HTML */
    outline: 0;

    font: inherit; /* eliminar los estilos CSS de la fuente por defecto del navegador */
    font-family: Georgia, serif; /* : Cambiar la Fuente (Tipografía) del Texto (Familia Tipográfica) */

    box-sizing: border-box !important;/*Hacer q el tamaño total de la caja (Box Model)
                                        siempre sea el
                                        ancho width: y alto height:
                                        del content
                                        (modelo de caja alternativo) */
}

html {
    font-size: 16px; /* asegurarme de q 1rem = 16px */

    text-size-adjust: 100% !important;/*Hacer q el texto NO se redimensione
                                        NI tampoco cambie su tamaño font-size automaticamente
                                        al aumentar el zoom de la pagina web en
                                        en dispositivos moviles (tablet y celular) */

    scroll-behavior: smooth !important;/*animacion de scroll
                                        al dar click en enlaces <a>
                                        q redirigen a secciones (partes)
                                        dentro de la misma pagina web
                                        https://css-tricks.com/almanac/properties/s/scroll-behavior/#aa-deeper-explanation */
}

body {
    width: 100% !important; /* el <body> siempre tendra el mismo ancho width: q el ancho del viewport */

    /* alto minimo min-height: es el 100% del alto del viewport (pantalla) 100vh,
       esto va hacer q la altura del <body>
       sea igual a la altura de la pantalla (viewport)
       y en caso de q el contenido se estire (cresca en altura),
       entonces el <body> tambien crecera (Responsive),
       por eso es min-height: y NO height:  */
    min-height: 100vh;
    min-height: 100dvh;

    text-rendering: optimizeLegibility !important; /* aumentar calidad (legibilidad) del texto */

    overflow-x: hidden;/*ocultar el contenido hidden;
                        q se desborde overflow
                        del ancho -x del viewport (pantalla) */
}

/* todos los textos tienen el mismo espacio entre renglones o lineas (interlineado)
Es 1.2 porq es el valor recomendado por la documentacion oficial de la MDN
https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#values */
html, body { line-height: 1.2; }

table {
    width: 100%;                          /*Para q <table> sea Responsive debe:
                                            1) estar dentro de un contenedor <div> padre
                                            2) width: 100%; */
    border-collapse: collapse !important; /* juntar los bordes (casillas) de las tablas */
    border-spacing: 0 !important;         /* eliminar espacio de las tablas entre cada una de las casillas */
}

/* Imagenes Responsive */
img {
    display: block;    /* eliminar espacio en blanco de la imagen q se ve en la parte de abajo del contendor padre */
    max-width: 100%;   /* adaptar imagen al ancho del contenedor padre (Responsive) */
    height: auto;
    margin: 0 auto;    /* centrar horizontalmente <-> */
    object-fit: cover; /* Ajustar Imagen o Video Ampliándolo y Conservando su Calidad. 
                          Es Probable que la Imagen o Video si se Recorte */
}


