body, html {
    background-color: #eeede7; /* color de fondo */
}

/* ----------------------------------------------------------------------------- */

ol {
    font-size: 1.5em;
}

/*

Seleccionar el primer elemento de la lista
empezando desde el PRIMER elemento (de arriba hacia abajo)
y a partir de ahi empezar a seleccionar cada 3 elementos

<ol>
  …
    <li :nth-child>
Especificidad: (0, 1, 2) */

ol li:nth-child(3n+1) { /* An+B = 1, 4, 7, 10 */
    color: red; /* color de la letra */
}
