/*
Jon Mircha - YouTube - iframe Responsive
https://www.youtube.com/watch?v=udGrXWeJp1Y&t=6579s



eliminar estilos por defecto del navegador usando el selector universal */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* hacer q el <body> ocupe TODO el viewport */
    width: 100%;
    height: 100vh;
    background-color: #eeede7; /* color de fondo */
}

/* ----------------------------------------------------------------------------- */

.contenedor {
    /* breakpoints - unidades de medida estandar para los media queries */
    max-width: 80rem; /*80rem = 1280px - ancho maximo

                        puedo limitar las medidas del <iframe>
                        usando min-width: max-width: min-height: y max-height:
                        en el .contenedor */
}

iframe {
    width: 100%; /* TENGO q usar width: 100%; porq cuando uso max-width: 100%; NO funciona
                    Hacer q el <iframe> ocupe todo 100% el ANCHO width: del .contenedor */
    height: auto; /* esto hace q el <iframe> no se vea pixelado */
    display: block; /* eliminar espacio en blanco que se forma en la parte de abajo
                       cuando adapto el <iframe> al tamaño del .contenedor */
    aspect-ratio: 16 / 9; /*Medidas del Viewport:
                            16 = ancho ↔
                            9 = alto ↕ */
}
