/*
Este ejemplo es tomado de CSS-Tricks (Trucos CSS):
https://css-tricks.com/reveal-a-background-image-upon-text-selection/

https://css-tricks.com/examples/HighlightImageReveal/ */

* { margin: 0; padding: 0; }
body { font: 16px/1 Georgia, serif; }

p { color: #666; }

h1 { font-weight: normal; font-size: 30px; margin: 0 0 20px 0; }

#page-wrap { width: 580px; margin: 80px auto; }

.selected { background: #bdf8ff; color: black; }

#result { width: 100%; padding: 3px; margin: 10px 0; }
