body {
    background-color: #eeede7; /* color de fondo */
}

/* ----------------------------------------------------------------------------- */

/*

DESPUES de q se presione el boton para abrir la ventana emergente <dialog>
se mostraran estos estilos

<dialog ::backdrop>
Especificidad: (0, 0, 2)*/
dialog::backdrop {
    background-color: darkorange; /* color de fondo */
    /* fondo gradiente (difuminado) */
    background-image: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}
