/*
Jon Mircha - Curso de Flexbox en YouTube
https://www.youtube.com/playlist?list=PLvq-jIkSeTUbQc3dGsssp8lxAi5npMrys

CSS-Tricks (Trucos CSS) - La Guia Completa de Flexbox
https://css-tricks.com/snippets/css/a-guide-to-flexbox/



eliminar estilos por defecto del navegador usando el selector universal */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 40px; /*dar un margen (espacio) en blanco
                    para q el contenido de la pagina web
                    no este pegado a los bordes de la ventana */
    background-color: beige; /* color de fondo */
}

/* ----------------------------------------------------------------------------- */

h1 {
    text-align: center; /* centrar texto horizontalmente */
    font-weight: 900; /* negrita (bold) */
    font-size: 45px; /* tamaño de la letra */
    font-family: "Consolas", monospace; /* tipo de letra (fuente) (tipografia) */
}

h2 { font-family: "Consolas", monospace; }

p, a { font-size: 25px; }

a {
    /* Convertir los enlaces <a> a elementos EN BLOQ
    esto lo hago para q ocupen una sola linea
    (para q salten a la siguiente linea)
    y q NO esten escritos en el mismo renglon */
    display: block;
}

p, hr, .contenedor_flexbox {
/* margen hacia abajo margin-bottom:
esto deja un espacio entre el texto
y los contenedores flexibles */
    margin-bottom: 15px;
}

.subrayar {
    text-decoration-line: underline; /* Subrayar Texto en la Parte de Abajo */
    text-decoration-style: solid; /* Estilo del Subrayado - Estilo del Subrayado */
}

.consolas { font-family: "Consolas", monospace; }

.negrita { font-weight: 900; }

.contenedor_flexbox {
    min-width: 95px;
    max-width: 100%; /* ancho width: de los Flex Container
                    width: 100%; significa q
                    el .contenedor_flexbox va a ocupar todo el ancho del viewport */
    /* height: 400px; */
    padding: 1%; /* relleno padding: dar un espacio entre los Flex Items y el Flex Container */
    outline: thick solid black;
    /* border: thick solid black; */
    border-radius: 10px;
    background-color: #995db5;
    box-shadow: 1px 1px 10px 7px #7a4a91, inset 20px 20px 3px 0px #7a4a91, 50px -50px 50px 50px rgba(0, 0, 0, 0);

    display: flex;
    gap: 20px 2%; /* distancia de separacion ENTRE los Flex Items (Responsive) */
    flex-flow: row wrap; /* flex-flow: flex-direction flex-wrap; */
}

.contenedor_flexbox div { /* seleccionar TODOS los Flex Items */
    /* height: 8rem; */ /* alto de los Flex Items */
    flex-basis: content; /* flex-basis: content;
                            SIEMPRE sin importar si en los Flex Items
                            se ha definido o no
                            las propiedades ancho width: y alto height:
                            hará que los Flex Items ocupen
                            exactamente el mismo espacio que su contenido
                            (imágenes, video, texto, etc.) */
    font-size: 2rem;
    outline: thick solid crimson;
    /* border: thick solid crimson; */ /* borde */
    border-radius: 10px; /* borde redondeado */
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.801), inset 20px 20px 3px 0px #fbaa53, 50px -50px 50px 50px rgba(0, 0, 0, 0);
    background-color: #f4941c; /* color de fondo */

    /* display: flex; */ /* usar Flexbox */
    /* justify-content: center; */ /* centrar HORIZONTALMENTE ↔ */
    /* align-items: center; */ /* centrar VERTICALMENTE ↕ */
}

/*
<body>
  …
    <div class="contenedor_flexbox" :nth-of-type>
      …
        <div>
*/
body div.contenedor_flexbox:nth-of-type(1) div { order: 0; }

body div.contenedor_flexbox:nth-of-type(2) div { order: 99; }

/*
<body>
  …
    <div class="contenedor_flexbox" :nth-of-type>
      …
        <div :nth-child>
*/
body div.contenedor_flexbox:nth-of-type(3) div:nth-child(2) { order: 1; }

body div.contenedor_flexbox:nth-of-type(4) div:nth-child(2) { order: -1; }

body div.contenedor_flexbox:nth-of-type(4) div:nth-child(4) { order: 1; }

body div.contenedor_flexbox:nth-of-type(5) div:nth-child(2) { order: 1; }

body div.contenedor_flexbox:nth-of-type(5) { flex-direction: row-reverse; }
