:root {
    --fondoPrimario: #323941;
    --fondoSecundario: #1a1e21;
    --azulPrimario: #3860ec;
    --azulSecundario: #2247ce;
}

body {
    background: var(--fondoPrimario);
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contenedor {
    background: var(--fondoSecundario);
    max-width: 500px;
    padding: 30px;
    border-radius: 20px;
}

.logo {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

svg {
    width: 70%;
}

.boton {
    width: 100%;
    background: var(--azulPrimario);
    display: inline-block;
    padding: 25px;
    border: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.3s ease all;
}

.boton:hover {
    background: var(--azulSecundario);
}

.enlace {
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #d4d4d4;
    font-size: 14px;
    margin-bottom: 20px;
}

.enlace:hover {
    text-decoration: underline;
}

.dialogo {
    background: var(--fondoPrimario);
    padding: 25px;
    color: #fff;
    margin-bottom: 30px;
    border-radius: 15px;
    font-size: 18px;
    line-height: 28px;

    position: relative;
}



/* Pseudoelementos CSS

::selection Cambiar Estilo del Texto Seleccionado por el Usuario   */
.dialogo::selection {
    background-color: crimson;
	color: black;
}

/* Cambiar el estilo de la primera linea ::first-line de texto */
.dialogo::first-line {
    background-color: tomato;
}

.dialogo::after {
    /* tambien funciona si escribo .dialogo::before {...} */
    content: "";
    display: block;
    /* background-color: black; */

    /*
    width: 10px;
    height: 10px;
*/

    position: absolute;
    bottom: -40px; /*(border-top: 20px) + (border-bottom: 20px) = (bottom: -40px)
	                se escribe negativo -40px
					para q el triangulo se situe en la parte de abajo
					del <div class="dialogo"> */
    right: calc(50% - 20px); /* derecha - a la mitad 50% de <div class="dialogo"> restarle los 20px del border */

    /* borde hacia... */
    border-top: 20px solid var(--fondoPrimario); /* arriba */
    border-right: 20px solid transparent; /* derecha */
    border-bottom: 20px solid transparent; /* abajo */
    border-left: 20px solid transparent; /* izquierda */
}
