/* -------------------- Reset CSS -------------------- */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { font-size: 16px; }

body {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: #eeede7; /* color de fondo */
}

/* -------------------- Centrar contenido principal de la pagina web (Responsive) -------------------- */

.page_wrap {
    outline: thick solid lightcoral;
    max-width: min(90%, 1332px);
    margin-left: auto;
    margin-right: auto;
}

/* -------------------- Ejemplo 1 -------------------- */
/* https://www.youtube.com/watch?v=-kgGATnsPbs&t=125s */

.grid_container_1 {
    /* min-height: 700px; */
    /* padding: 1.5%; */
    background-color: lightgrey;

    display: grid;
    gap: 15px;

    /* # de COLUMNAS de Grid Items */
    /* grid-template-columns: auto; */
    /* grid-template-columns: auto auto; */
    grid-template-columns: auto auto auto;
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-columns: 50% 50%; */
    /* grid-template-columns: 50% 20%; */
    /* grid-template-columns: 50% 20% auto; */

    /* medidas de las FILAS de Grid Items */
    grid-template-rows: auto;
    /* grid-template-rows: 100px 20px 120px auto; */
    /* grid-template-rows: 100px auto; */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    justify-content: stretch;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;
    /* align-items: baseline; */
}

.grid_container_1 div {
    text-align: center;
    font-size: 2rem;
    background-color: steelblue;
    border: thick solid black;
    padding: 20px;

/*
    width: 150px;
    height: 150px;
*/

    /* centrar texto q dice "Item" */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    /* float: left; */
}

/*
Propiedad abreviada (Shorthand) para q los Grid Items ocupen un # de filas y/o columnas
grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end | NombreItem;

grid-column:    # de COLUMNAS q ocupa el Grid Item
grid-row:       # de FILAS q ocupa el Grid Item

span significa expandir el Grid Item,
elimina los espacios en blanco
y hace q el Grid Item
ocupe el espacio seleccionado por completo
*/

.grid_container_1 div:nth-child(1) {
    grid-column: 1/4; /* desde la COLUMNA 1 hasta la 4 */

    /* grid-row: 1/4; */

    /* grid-area: 1 / 1 / 3 / 4; */

    /* grid-column: 1 / span 2; */
}

.grid_container_1 div:nth-child(2) {
    grid-column: 2 / 4; /* desde la COLUMNA 2 hasta la 4 */

    /* grid-row: 2/4; */

    /* grid-column: 1 / span 2; */
}

.grid_container_1 div:nth-child(3) {
    grid-column: 4;

    /* grid-row: 4; */
}

.grid_container_1 div:nth-child(12) {
    grid-column: 1 / span 4; /* empezar en COLUMNA 1 y expandirse hasta la COLUMNA 4 */

    /* grid-row: 1 / span 4; */
}

/* -------------------- Ejemplo 2 -------------------- */
/* https://www.youtube.com/watch?v=-kgGATnsPbs&t=802s */


.grid_container_2 {
    width: 100%;
    min-height: 100vh;
    border: thick solid black;
    background-color: lightgreen;
    display: grid;

    /* # de columnas q ocupan los elementos HTML,
    cada espacio es una nueva columna */
    grid-template-areas:'encabezado encabezado' /* como encabezado esta escrito 2 veces, ocupa 2 columnas */
                        'menu menu'
                        'contenido barra_lateral' /* una columna para contenido y otra para barra_lateral */
                        'pie_de_pagina pie_de_pagina';

    /* grid-template-rows: tamaño de las FILAS
    20% encabezado
    20% menu
    50% contenido y barra lateral
    auto pie de pagina */
    grid-template-rows: 20% 20% 50% auto;
}

.grid_container_2 div {
    border: thick solid crimson;
    font-size: 2rem;

    /* centrar texto q dice encabezado, menu, contenido, barra lateral, pie de pagina */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_container_2 div:nth-child(1) {
    background-color: lightskyblue;
    /* grid-column: 1 / span 2; */

    grid-area: encabezado; /* grid-area: es ¿ a q grid-template-areas: pertenece el elemento .html ? */
}

.grid_container_2 div:nth-child(2) {
    background-color: lightyellow;
    /* grid-column: 1 / span 2; */
    grid-area: menu;
}

.grid_container_2 div:nth-child(3) { background-color: lightsalmon; }

.grid_container_2 div:nth-child(4) {
    background-color: lightpink;
    grid-area: barra_lateral;
}

.grid_container_2 div:nth-child(5) {
    background-color: lightgray;
    /* grid-column: 1 / span 2; */
    grid-area: pie_de_pagina;
}
